<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dolorem beatae nihil temporibus dolores, minima blanditiis unde saepe incidunt hic assumenda. Esse error odio officiis aliquam consequatur commodi asperiores quidem!</p>
    </div>
</div>