<div class="jumbotron mt-4">
    <h1 class="display-4">App de Notas con NodeJS, Bootstrap y MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus molestiae, a dolor eos </p>
    <hr class="mr-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad dignissimos molestias ea deserunt autem quia, sint veniam maxime qui consequatur, dolores blanditiis deleniti eum tempore pariatur, et ullam veritatis ipsum?</p>
    <button class="btn btn-primary">Ir al sitio</button>
</div>